<%- include ('partials/head') %>
<%- include ('partials/header') %>
<h1>Account</h1>

<input id="install" type="button" value="install">
<form method="POST" action="/register" enctype="multipart/form-data" >
        <input type="text" name="username" id="name" placeholder="Username">
        <input type="email" name="email" id="email" class="email" placeholder="Emailadres">
        <input type="password" name="pass" id="pass" placeholder="Password">
        <input type="button" value="login" id="login">
        <input type="button" value="register" id="register">
        <button type="submit"> register </button>
</form>

<form method="POST" action="/login" enctype="multipart/form-data" >
        <input type="text" name="username" id="name" placeholder="Username">
        <input type="password" name="pass" id="pass" placeholder="Password">
        <input type="button" value="login" id="login">
        <input type="button" value="register" id="register">
        <button type="submit"> log in </button>
</form>

<script>
    const loginBtn = document.querySelector('#login')
    const emailInput = document.querySelector('#email')
    const regis = document.querySelector('#register')
    const input = document.querySelectorAll('input')
    console.log(input)

    loginBtn.addEventListener('click', () => {
        emailInput.classList.add('input-remove')

        if(emailInput.classList.contains('input-remove')){
            emailInput.classList.remove('input-add')
            setTimeout(() => {
                emailInput.style.display= "none"
            },900)
        }
    })
    regis.addEventListener('click', () => {
        emailInput.classList.add('input-add')
   
        if(emailInput.classList.contains('input-add')){
            emailInput.classList.remove('input-remove')
            setTimeout(() => {
                emailInput.style.display = "block"
            },600)
        }
    })

</script>

<%- include ('partials/footer') %>