<html>
<%- include ('partials/head.ejs') %>

<body>
    <main>
        <%- include ('partials/header.ejs') %>
        <%- include ('home.ejs') %>
    </main>

    <%- include ('partials/footer.ejs') %> 
</body>




</html>