<%- include ('../partials/head.ejs') %>

<body id="error">

    <section>

        <h1>You appeared to be offline.</h1>
        <img src="https://giphy.com/gifs/inside-out-gif-10tIjpzIu8fe0" alt="">
    </section>

    <%- include ('../partials/footer.ejs') %>