input:focus {
    width: 100%;
    border: 1px solid blanchedalmond;
    box-shadow: none;
    outline: none;
    background: rgb(67, 85, 133);
    color: white;
}

input:focus::placeholder {
    color: rgb(255, 255, 255);
}

.input-remove {
    animation: remove-input 400ms ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes remove-input{
    0%{
        opacity: 1;
        left: 0em;
    }
    100%{
        opacity: 0;
        left: 10em;
    }
}

.input-add {
    animation: remove-input 400ms ease-in-out reverse;
    animation-fill-mode: backwards;
}